@import "../utilidades/variables";


header {
    
    background-color: $color-primario;
    color: $color-secundario;
    padding: 20px;
    text-align: center;
    nav {
        ul {
            list-style-type: none;
            padding: 0;
            li {
                display: inline;
                margin-right: 20px;
                a {
                    color: $color-secundario;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
header h1{
    color: black;
    margin-top: 5px;
    margin-bottom: 25px;
    

}